# Copyright (c) 2021 Nick Winans
# SPDX-License-Identifier: MIT

if BOARD_DOTMATRIX40W

config ZMK_KEYBOARD_NAME
    default "dotmatrix40W"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_DOTMATRIX40W
